* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(44, 46, 53);
}

h1,h2,h3,h4,h4,h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: #384552;

}

p {
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 400px;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.main form {
  padding: 10px;
  display: flex;
  flex-direction: column;  
}
.main form input {
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  padding: 7px;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main form button {
  background: linear-gradient(to right, #4091dd, #28b4d2);
  color: #fff;
  padding: 13px;
  border-radius: 5px;
  border: none;
  margin-top: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

.main form button:hover {
  background: linear-gradient(to right, #4c9de9, #38c6e6);

}

main p {
  color: #384552;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

@media (max-width: 430px) {
  .main {
    width: 300px;
  }
}